@import url(header.css);
@import url(menuHamburguesa.css);
@import url(footer.css);


body{
   background-color: var(--collection-1-fondo); 
}

:root {
    --collection-1-verde-primario: rgba(16, 255, 19, 1);
    --collection-1-blanco-transparencia: rgba(255, 255, 255, 0.6);
    --collection-1-blanco: rgba(255, 255, 255, 1);
    --collection-1-verde-secundario: rgba(38, 125, 6, 1);
    --collection-1-fondo: rgba(32, 32, 32, 1);
    --collection-1-violeta-principal: rgba(102, 5, 248, 1);
    --collection-1-violeta5: rgba(45, 3, 109, 1);
    --collection-1-violeta-contraste: rgba(85, 7, 202, 1);
    --collection-1-color: rgba(61, 61, 61, 1);
    --collection-1-gris-5: rgba(255, 255, 255, 0.1);
    --collection-1-color-2: var(--collection-1-gris-5);
    --collection-1-gris-cards: rgba(27, 27, 27, 1);
}

.container-principal {
    display: grid;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}

/* BREADCRUMB */

.container-principal .container-breadcrumb {
    display: grid;
}

.container-principal .breadcrumbs {
    width: 100%;
}

.container-principal .breadcrumbs .breadcrumb {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-bottom: 2px solid #d2d2d252;
    width: 18%;
}

.breadcrumbs a, p {
    color: #d2d2d252;
    text-decoration: none;
    margin-left: 10px;
}

/* ZONA JUEGO */

/* ZONA PANTALLA */

.container-principal .container-principal-juego {
    display: grid;
    grid-template-columns: 65% auto;
    justify-content: center;
}

.container-principal .container-titulo {
    background-color: #3D3D3D;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    width: 755px;
    height: 60px;
    margin-bottom: 30px;
}

.btn-jugar {
    position: relative; 
    padding: 10px 20px; 
    background-color: #000; 
    border: solid 2px var(--collection-1-verde-primario); 
    color: #ffffff; 
    font-size: 16px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    border-radius: 10px; 
    z-index: 1; 
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Sombra suave */
}

.container-principal {
   margin-left: 100px;
}

.Juego-container {
    position: relative; 
    width: 755px; /* Ancho del div */
    height: 443px; /* Alto del div */
    margin-right: 20px;
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    overflow: hidden; 
    z-index: 10;
}

.container-juego::before { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: url("imgs/foto-web-jueguitos/carrusel-juegos/CuatroEnLineaMario.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    opacity: 0.4; 
    z-index: 0; 
}


.btn-jugar:hover {
    background: linear-gradient(45deg, var(--collection-1-verde-primario), var(--collection-1-verde-secundario)); /* Gradiente */
    color: #000; /* Cambia el color del texto */
    border: solid 2px var(--collection-1-verde-secundario);
    transform: scale(1.1); /* Aumento de tamaño */
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
}

.btn-jugar:active {
    transform: scale(1.05); /* Reduce ligeramente el tamaño al hacer clic */
}


.container-principal .container-titulo .botones-extra {
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-principal .container-titulo .botones-extra img {
    width: 35px;
    height: 35px;
    margin: 10px;
}
.btn-compartir {
    padding: 5px 10px;
    background-color: #000; 
    border: solid 2px var(--collection-1-verde-primario); 
    color: #ffffff;
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.btn-compartir:hover {
    background-color: var(--collection-1-verde-secundario);
    transform: translateY(-3px); /* Movimiento hacia arriba */
    box-shadow: 0 0 10px var(--collection-1-verde-secundario), 
                0 0 20px var(--collection-1-verde-secundario); /* Resplandor */
}

/* ZONA COMENTARIOS */

/* ESCRIBIR COMENTARIOS */

.container-general-comentarios {
    margin-bottom: 10px;
}

.container-principal .container-comentarios .dejar-comentario {
    width: 755px;
    height: 55px;
    background-color: #3D3D3D;
    display: grid;
    align-items: center;
    grid-template-columns: auto 90%;
    margin-bottom: 30px;
}

.dejar-comentario .container-img {
    display: flex;
    justify-content: center;
}

.dejar-comentario .container-img img {
    width: 38px;
    height: 36px;
} 

.dejar-comentario .container-comentario-nuevo {
    border-bottom: 2px solid #fff;
    width: 95%;
    margin: 5px;
}

.dejar-comentario .container-comentario-nuevo p {
    color: #fff;
    font-size: 14px;
    font-family: "Lato-Regular", Helvetica;
}

/* COMENTARIOS PUBLICADOS */

.container-comentarios .comentario {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 90%;
    width: 755px;
    height: 121px;
    background-color: #3D3D3D;
    margin-bottom: 10px;
}

.comentario .comentario-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-comentarios .comentario img {
    width: 38px;
    height: 36px;
}

.container-comentarios .container-comentario {
    display: grid;
    align-items: center;
    margin-left: 20px;
    align-content: start;
}

.container-comentario .container-informacion {
    display: flex;
    margin-bottom: 5px;
}

.container-comentario .container-calificacion {
    display: flex;
    bottom: 0;
    align-items: end;
    margin-top: 5px;
}

.container-comentarios .comentario a{
    color: #10FF13;
    font-weight: bold;
    font-size: 14px;
    font-family: "Lato-Regular", Helvetica;
    padding-left: 10px;
}

.container-comentarios .comentario .info p {
    color: #fff;
    font-weight: bold;
}

.container-comentarios .container-mensaje {
    display: flex;
    margin-top: 2px;
    margin-bottom: 8px;
    width: 100%;
}

.container-comentarios .container-mensaje p {
    width: 100%;
    display: flex;
    align-items: start;
}

.container-comentarios .comentario p{
    color: #fff;
    width: 100%;
}

.container-comentarios .comentario .container-calificacion {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.container-comentarios .comentario .container-calificacion img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
} 

/* MAS COMENTARIOS */

.container-comentarios .mas-comentarios {
    background-color: #3D3D3D;
    width: 755px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-comentarios .mas-comentarios p {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: "Lato-Regular", Helvetica;
}

/* ZONA TUTORIAL */

.container-zona-tutorial {
    display: grid;
    width: 100%;
    height: 100vh;
}

/* TUTORIAL */

.container-zona-tutorial .tutorial {
    display: grid;
    justify-content: center;
}

.tutorial .titulo {
    margin-bottom: 25px;
}

.tutorial h2, h3 {
    color: #267D06;
    padding: 10px;
    display: flex;
    font-size: 16px;
    font-family: "Lato-Regular", Helvetica;
}

.container-zona-tutorial p {
    color: #fff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 14px;
}

.container-zona-tutorial h2 {
    justify-content: center;
    height: 10px;
    font-size: 18px;
    font-family: "Lato-Regular", Helvetica;
}

.tutorial .instrucciones {
    width: 508px;
    height: 121px;
    margin-bottom: 35px;
}

.tutorial .controles {
    width: 508px;
    height: 199px;
}

.tutorial .controles li {
    color: #fff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 14px;
    padding-left: 10px;
}

.tutorial .controles .imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* VIDEOS TUTORIALES */

.container-zona-tutorial .videos-tutoriales {
    display: grid;
    margin-top: 40px;
}

.videos-tutoriales h2 {
    color: #267D06;
    padding: 10px;
    font-size: 16px;
    font-family: "Lato-Regular", Helvetica;
    margin-bottom: 30px;
}

.videos-tutoriales .videos {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items:  center;
}

.videos-tutoriales .videos img {
    margin: 10px;
}