* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo {
    background-color: #202020;
    width: 100%;
    height: 100vh;
}

.nav {
    padding: 10px;
    background-color: #1b1b1b;
}

.nav ul {
    display: grid;
    grid-template-columns: 10% 5% auto 5% 5%;
    list-style: none;
}

.nav #menuHamburguesa {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav #search input {
    height: 32px;
    width: 170px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    padding-left: 10px;
    background-color: #3d3d3d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav #search .iconoSearch {
    height: 10px;
}

.nav #search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #tituloPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #carrito {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.nav #cuenta {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* menu de inicio de sesion */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container h2 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.container a {
    color: #fff;
    text-decoration: none;
}

.container input {
    display: grid;
    width: 408.38px;
    height: 44px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #3d3d3d;
    border: none;
    padding: 10px;
    margin: 10px;
}

.container-enviar .enviar {
    width: 125.73px;
    background-color: #000;
    border: solid 3px #10FF13;
}

.container-enviar .enviar:hover {
    cursor: pointer;
    background-color: #267D06;
}

.container-enviar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.container-registro {
    width: 557px;
    height: 624px;
    border: solid 3px #10FF13;
    background-color: #1b1b1b;
    border-radius: 20px;
}

.container-registro .container-principal {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 266px;
}

.container-principal {
    margin-top: 80px;
}

.container-linea {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.linea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .container-registroExterior {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container .container-registroExterior button {
    width: 485px;
    height: 47px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 7px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 80%;
    margin: 10px;
}

.container .container-registroExterior .btn-google {
    background-color: #fff;
    transition: 0.5s;
    color: #000;
}

.container .container-registroExterior .btn-facebook {
    background-color: #1878F1;
    transition: 0.5s;
    color: #fff;
}

.container .container-registroExterior .btn-google:hover {
    background-color: #b5b5b5;
    transition: 0.5s;
    cursor: pointer;
}

.container .container-registroExterior .btn-facebook:hover {
    background-color: #1565c6;
    transition: 0.5s;
    cursor: pointer;
}

/* FOOTER */

/* Estilos básicos para el footer */
footer {
    background-color: #202020; /* Color de fondo negro */
    color: #fff; /* Texto blanco */
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-image {
    flex: 1;
    max-width: 150px; /* Tamaño del logo o imagen */
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
}

.footer-links section {
    margin-right: 40px;
}

.footer-links h2 {
    font-size: 1em;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaa; /* Color gris claro */
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la sección de redes sociales */
.footer-social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-social ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footer-social ul li {
    margin-left: 15px;
}

.footer-social ul li a img {
    width: 24px;
    height: 24px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .footer-social {
        margin-top: 20px;
    }

    .footer-links section {
        margin-right: 0;
        margin-bottom:20px;
    }
}