* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --collection-1-verde-primario: rgba(16, 255, 19, 1);
    --collection-1-blanco-transparencia: rgba(255, 255, 255, 0.6);
    --collection-1-blanco: rgba(255, 255, 255, 1);
    --collection-1-verde-secundario: rgba(38, 125, 6, 1);
    --collection-1-fondo: rgba(32, 32, 32, 1);
    --collection-1-violeta-principal: rgba(102, 5, 248, 1);
    --collection-1-violeta5: rgba(45, 3, 109, 1);
    --collection-1-violeta-contraste: rgba(85, 7, 202, 1);
    --collection-1-color: rgba(61, 61, 61, 1);
    --collection-1-gris-5: rgba(255, 255, 255, 0.1);
    --collection-1-color-2: var(--collection-1-gris-5);
    --collection-1-gris-cards: rgba(27, 27, 27, 1);
  }

.fondo {
    background-color: #202020;
    width: 100%;
    height: 100vh;
}
/* inicio header */
.nav {
    padding: 10px;
    background-color: #1b1b1b;
}

.nav ul {
    display: grid;
    grid-template-columns: 10% 5% auto 5% 5%;
    list-style: none;
}

.nav #menuHamburguesa {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav #search input {
    height: 32px;
    width: 170px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    padding-left: 10px;
    background-color: #3d3d3d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #search .iconoSearch {
    height: 10px;
}

.nav #search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #tituloPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #carrito {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.nav #cuenta {
    display: flex;
    justify-content: end;
    align-items: center;
}
/* fin header */

/* carrusels por categorias */
.card-FREE {
    margin-left: 450px;
    margin-top: 150px;
    width: 210px;
    height: 226px;
    position: relative;
  }

.card-FREE .overlap-group {
    position: relative;
    height: 226px;
    width: 204px;
    top: -3px;
    background-color: var(--collection-1-gris-cards);
}

.card-FREE .card {
  position: absolute;
  width: 100%;
  height: 226px;
  top: 11px;
  left: 6px;
}
  
  .card-FREE .extra-bold {
    position: absolute;
    width: 112px;
    height: 22px;
    top: 185px;
    left: 53px;
  }
  
  .card-FREE .h-px {
    position: absolute;
    width: 112px;
    top: 0;
    left: 0;
    font-family: "Lato-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .card-FREE .card-img-juego {
    position: absolute;
    width: 204px;
    height: 180px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 6px 6px 6px 0px;
    --collection-1-gris-cards: rgba(27, 27, 27, 1);
    border: 2px solid var(--collection-1-gris-cards);
    position: absolute;
  }
  
  .card-FREE .div-wrapper {
    position: absolute;
    width: 59px;
    height: 29px;
    top: 0;
    left: 0;
  }
  
  .card-FREE .rectangle-2 {
    width: 59px;
    height: 21px;
    top: 0;
    border-radius: 6px 6px 6px 0px;
    background: linear-gradient(180deg, rgb(16, 255, 19) 0%, rgb(16, 255, 19) 100%);
    position: absolute;
    left: 0;
    background-color: var(--collection-1-verde-primario);
  }
  
  .card-FREE .rectangle-wrapper {
    position: absolute;
    width: 9px;
    height: 8px;
    top: 21px;
    left: 0;
    background-color: #257d05;
    border-radius: 0px 0px 0px 3px;
  }
  
  .card-FREE .rectangle-3 {
    width: 9px;
    height: 5px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .card-FREE .p {
    position: absolute;
    width: 35px;
    height: 17px;
    top: 2px;
    left: 12px;
  }
  
  .card-FREE .p-px {
    position: absolute;
    width: 35px;
    top: -1px;
    left: 0;
    font-family: "Lato-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .card-FREE .card-estado {
    position: absolute;
    width: 69px;
    top: 212px;
    left: 77px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-verde-primario);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
  }
  

/* carrusels por categorias */



/* FOOTER */

/* Estilos básicos para el footer */
footer {
    background-color: #202020; /* Color de fondo negro */
    color: #fff; /* Texto blanco */
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-image {
    flex: 1;
    max-width: 150px; /* Tamaño del logo o imagen */
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
}

.footer-links section {
    margin-right: 40px;
}

.footer-links h2 {
    font-size: 1em;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaa; /* Color gris claro */
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la sección de redes sociales */
.footer-social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-social ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footer-social ul li {
    margin-left: 15px;
}

.footer-social ul li a img {
    width: 24px;
    height: 24px;
}
/* fin footer */

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .footer-social {
        margin-top: 20px;
    }

    .footer-links section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
