* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --collection-1-verde-primario: rgba(16, 255, 19, 1);
    --collection-1-blanco-transparencia: rgba(255, 255, 255, 0.6);
    --collection-1-blanco: rgba(255, 255, 255, 1);
    --collection-1-verde-secundario: rgba(38, 125, 6, 1);
    --collection-1-fondo: rgba(32, 32, 32, 1);
    --collection-1-violeta-principal: rgba(102, 5, 248, 1);
    --collection-1-violeta5: rgba(45, 3, 109, 1);
    --collection-1-violeta-contraste: rgba(85, 7, 202, 1);
    --collection-1-color: rgba(61, 61, 61, 1);
    --collection-1-gris-5: rgba(255, 255, 255, 0.1);
    --collection-1-color-2: var(--collection-1-gris-5);
    --collection-1-gris-cards: rgba(27, 27, 27, 1);
  }

body {
    background-color: #202020;
    width: 100%;
    height: 100vh;
}
/* inicio header */
.nav {
    padding: 10px;
    background-color: #1b1b1b;
}

.nav ul {
    display: grid;
    grid-template-columns: 10% 5% auto 5% 5%;
    list-style: none;
}

.nav #menuHamburguesa {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav #search input {
    height: 32px;
    width: 170px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    padding-left: 10px;
    background-color: #3d3d3d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #search .iconoSearch {
    height: 10px;
}

.nav #search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #tituloPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #carrito {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.nav #cuenta {
    display: flex;
    justify-content: end;
    align-items: center;
}
/* fin header */

/* carrusels por categorias */
/* inicio cards */
.card {
    width: 210px;
    height: 226px;
    position: relative;
}

.card .overlap-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 204px;
    height: 226px;
    background-color: var(--collection-1-gris-cards);
}

.card .car {
    position: absolute;
    width: 100%;
    height: 226px;
    top: 11px;
    left: 7.3px;
}

.card .card-img-juego {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid var(--collection-1-gris-cards);
}

.card .card-pie {
    margin-top: 4px;
    height: auto;
    width: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .card-estado {
    display: flex;
    flex-direction: row;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-verde-primario);
    font-size: 14px;
    text-align: center;
}

.card-img-tilde {
    width: 16px;
    height: 13px;
    margin-left: 10px;
    margin-top: 1px;
}

.card .h-px {
    font-family: "Lato-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}

.card .extra-bold {
    position: relative;
    width: 100%;
    text-align: center;
}

.card .div-wrapper {
    position: absolute;
    width: 59px;
    height: 29px;
    top: 0;
    left: 0;
}

.card .rectangle-2 {
    width: 59px;
    height: 21px;
    top: 0;
    border-radius: 6px 6px 6px 0px;
    background: linear-gradient(180deg, rgb(16, 255, 19) 0%, rgb(16, 255, 19) 100%);
    position: absolute;
    left: 0;
    background-color: var(--collection-1-verde-primario);
}

.card .rectangle-wrapper {
    position: absolute;
    width: 9px;
    height: 8px;
    top: 21px;
    left: 0;
    background-color: #257d05;
    border-radius: 0px 0px 0px 3px;
}
.card .en-carro .rectangle-2{
    width: 97px;
}
.card .rectangle-3 {
    width: 9px;
    height: 5px;
    top: 0;
    position: absolute;
    left: 0;
}

.card .p {
    position: absolute;
    width: 35px;
    height: 17px;
    top: 2px;
    left: 9px;
}

.card .p-px {
    position: absolute;
    width: 35px;
    left: 0;
    font-family: "Lato-ExtraBold", Helvetica;
    white-space: nowrap;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

/* FIN cards */

/* INI carrusels por categorias */
.juegos-por-categoria{

}

.categoria-con-juegos {
    width: 1440px;
    height: 287px;
}

.nombre-categoria {
    margin-left: 156px;
    font-family: "Handjet", Helvetica;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    width: 207;
    color: var(--collection-1-verde-primario);

}

.carrusel-juegos {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 38px;
}

.flecha-izq, .flecha-der {
    width: 40;
    height: 259;
}

.flecha-oculta {
    visibility: hidden;
}

.juegos {
    width: 1147px;
    height: 259px;
    left: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.juegos::-webkit-scrollbar{
    display: none;
}

.juegos .card{
    margin-top: 7px;
    margin-right: 45px;
    flex: 0 0 auto;
}


/* FIN carrusels por categorias */

/* ini carrusel juegos destacados */

/* fin carrusel juegos destacados */


/* FOOTER */

/* Estilos básicos para el footer */
footer {
    margin-top: 400px;
    background-color: #202020; /* Color de fondo negro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-image {
    flex: 1;
    max-width: 150px; /* Tamaño del logo o imagen */
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
}

.footer-links section {
    margin-right: 40px;
}

.footer-links h2 {
    font-size: 1em;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaa; /* Color gris claro */
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la sección de redes sociales */
.footer-social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-social ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footer-social ul li {
    margin-left: 15px;
}

.footer-social ul li a img {
    width: 24px;
    height: 24px;
}
/* fin footer */

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .footer-social {
        margin-top: 20px;
    }

    .footer-links section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
